{% extends 'base.html' %}

{% block content %}
<div class="row"> 
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About this project</h1>
            <div class="my-2">
                <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/about_image.JPG') }}" alt="">
            </div>
            <p class="lead">This project is created as part of TSAI MLOps assignment. <br> <a
                    href="https://github.com/TSAI-MLOps-BASS/Session3-Docker-Flask-Pytorch-Heroku-Imagenet-Classification"> View on GitHub</a></p>
            <p>
                By default, this app uses MobileNetV2 image classifier that was pre-trained on the ImageNet dataset.
                This can be easily changed with any custom deep learning model. If you wish to contribute to the
                project, please feel free to add more example models. More explanation as to how to contribute can be
                dound in the GitHub repository link.
            </p> <br>
            <a href="/"> Try App Now
            </a>

        </div>
    </div>
</div>
{% endblock %}