{% extends 'base.html' %}

{% block content %}

<div class="column">
    <p class="lead">Files uploaded successfully. Classification result:</p>
</div>
<div class="bs-component">
    <table class="table table-hover">
        <tr>
            <th scope="col" bgcolor="#008000">Image</th>
            <th scope="col" bgcolor="#008000">Predicted Classes</th>
            <th scope="col" bgcolor="#008000">Confidence</th>
        </tr>
        {% for i in length_list %}
            <tr>
                <th scope="row"> <img width="100" height="100" src={{new_images[i]}} />  </th>
                <td> {{ic[i][0]}} </td>
                <td> {{ic[i][1]}} </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div>
    <p class="lead">Last five processed images:</p>
</div>
<div class="bs-component">
    <table class="table table-hover">
        <tr>
            <th scope="col" bgcolor="#c0c0c0">Image</th>
            <th scope="col" bgcolor="#c0c0c0">Predicted Classes</th>
            <th scope="col" bgcolor="#c0c0c0">Confidence</th>
        </tr>
        {% for j in last_5_idx_list %}
            <tr>
                <th scope="row"> <img width="50" height="50" src={{img_list[j]}} />  </th>
                <td> {{i_ls[j]}} </td>
                <td> {{c_ls[j]}} </td>
            </tr>
        {% endfor %}
    </table>
</div>

<br>

<div>
    <p class="text-center mt-5"> <a href="/">Try again</a></p>
</div>

{% endblock %}
