{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="px-3 py-3 text-center">
            <h1 class="display-4">About the team</h1> <br>
            <p class="lead">Name: Bhagabat Prasad Behera </p>
            <p>
                13+ years experienced value and outcome driven IT professional with work exposure in different roles across varied domains. 5+
                years of experience in Machine Learning and Artificial Intelligence as a Data Scientist. 1+ year of experience as a Hyper-
                automation consultant and Hyperscaler Cloud Solution Architect. 7+ years of experience as a Six Sigma Master Black Belt
                spearheading 600+ Green Belt projects globally and techno-functional financial consultant.
            </p>
            <p><a href="https://github.com/BPrasad123">Github Profile</a></p>
            <br>
            <a href="/"> Try App Now
            </a>
        </div>
    </div>
</div>
{% endblock %}